.ex-1-square {
    transition: 1s;
}

.ex-1-square:hover {
    background-color: red;
}


.ex-2-square {
   transition: 3s ;

}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: 1s;
}

.ex-3-square:hover {
    border-radius: 100px;
}

.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    transition: 2s;
}

.ex-7-img:hover {
    filter:grayscale(50%) sepia(50%);
}

.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    filter: grayscale(30%) sepia(50%);
    border-radius: 15px;
}

.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    filter: grayscale(10%) sepia(50%);
    border-radius: 15px;
    transform: scale(1.5);
}

.ex-10-icon {
    animation: rotazione 2s linear infinite;
}

@keyframes  rotazione {
    0% { 
    transform: rotate(1turn);
}
  }


.ex-11-icon:hover {
    animation: rotation 2s linear ;
}

@keyframes  rotation {
    0% { 
    transform: rotate(0deg);
}
    75% {
    transform: rotate(280deg);
}
    100%{
    transform: rotate(0deg);
}
  }

  .ex-12-button:hover .ex-12-top-white {
    animation: right-move 2s linear;
  }

 @keyframes right-move {
   0%  {left: 10%;}
   50% {left: 70%;}
   100% {left: 11%;}

   }

   .ex-12-button:hover .ex-12-bottom-white{
    animation: left-move 2s linear;
   }

   @keyframes left-move {
    0%  {right: 10%;}
    50% {right: 70%;}
    100%{right: 11;}

}

.ex-13-button:hover .ex-13-top-white {
    animation: top-white-move-right 2s linear;
}

@keyframes top-white-move-right {
    0%{left: 10%; top: -20px;}
    30%{left: 100% ; top: -20px;}
    45%{left: 100% ; top: 100%;}
    75%{left: 0; top: 100%;}
    90%{left: -15px; top: -10px;}
    100%{left: 10%; top: -20px;}
    
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: bottom-white-move-left 2s linear;
}

@keyframes bottom-white-move-left {
    0%{right: 10%; bottom: -20px;}
    30%{right: calc(100% - 40px) ; bottom: -20px;}
    45%{right: calc(100% - 40px) ; bottom: 100%;}
    75%{right: 0; bottom: 100%;}
    90%{right: -15px; bottom: -10px;}
    100%{right: 10%; bottom: -20px;}
    
}

